
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    font-family: sans-serif;
}


.container {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255, 75, 110, 0.2);
    width: fit-content;      
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.love {
    font-family: Georgia, serif;
    margin-top: 15px;
    margin-bottom: 10px;
}


.msg {
    margin-bottom: 20px;
    font-weight: 500;
}


.answer {
    display: flex;
    gap: 50px;              
    justify-content: center;
    width: 100%;
}

.btn {
    transition: all 0.3s ease-in-out;
    padding: 10px 25px;
}


#buttonYes:hover {
    transform: scale(2.3); 
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white;
}